<div class="container">
    <form>
        <h2 class="text-center pb-4">Please log in</h2>
        <!-- <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label> -->
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
            <div class="input-group-text text-center"><i class="fa fa-at"></i></div>
            </div>
            <input type="text" class="form-control text " id="inlineFormInputGroupUsername2" placeholder="Email">
        </div>
    
        <!-- <label class="sr-only" for="inlineFormInputGroupUsername2">Password</label> -->
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-user"></i></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Password">
        </div>
        
        <!-- <div class="form-check mb-2 mr-sm-2">
            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
            <label class="form-check-label" for="inlineFormCheck">
            Remember me
            </label>
        </div> -->
        
        <button type="submit" class="btn btn-primary btn-block mb-2">Submit</button>
    </form>         
</div>