<bs-navbar></bs-navbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a *ngFor="let c of categories$ | async"
      routerLink="/"
      [queryParams]="{ category: c.CategoryName }"
      class="list-group-item list-group-item-action"
      [class.active]="category === c.CategoryName">
        {{ c.CategoryName }}
      </a>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let prod of products; let i = index">
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src="{{ prod.ProductImage }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ prod.ProductName }}</h5>
                  <p class="card-text">{{ prod.ProductDescription }}</p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
