<!-- <a routerLink="/admin/product-form" class="btn btn-primary">New product</a>
<a routerLink="/admin/product-form-list" class="btn btn-primary">Products List</a> -->

<div class="jumbotron">
  <h1 class="display-4 text-center">Product Register</h1>
  <p class="text-center">click the product to edit it</p>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-product-form></app-product-form>
    </div>
    <div class="col-md-7">
      <app-product-form-list></app-product-form-list>
    </div>
  </div>
</div>